@font-face {
  font-family: "iconfont"; /* Project id 4133519 */
  src: url('//at.alicdn.com/t/c/font_4133519_q7n3hf3k3z.woff2?t=1687341196696') format('woff2'),
  url('//at.alicdn.com/t/c/font_4133519_q7n3hf3k3z.woff?t=1687341196696') format('woff'),
  url('//at.alicdn.com/t/c/font_4133519_q7n3hf3k3z.ttf?t=1687341196696') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e839";
}

.icon-category:before {
  content: "\e84d";
}

.icon-view:before {
  content: "\e847";
}
